---
import "@catppuccin/palette/css/catppuccin.css"
import "../styles/global.css"
import ControllerHints from "../components/ControllerHints.astro"
// import "@fontsource/merriweather/400.css"
---

<!doctype html>
<!-- hello friend :D -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mish</title>
  </head>
  <body>
    <slot />
    <ControllerHints />
  </body>
</html>
